<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvel TV Series</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{{ bootstrap.load_css() }}
    <h1 class="title">List of TV Series</h1>
    <div class="container">
        {% for key, value in tv_series.items() %}
            <hr class="divider">
            <h2>{{ key }}</h2>
            <div class="row">
                {% for i in value %}
                    <div class="col-md-3">
                        <div class="card suit-card" style="width: 100%; height: 150px;">
                            <div class="card-body">
                                <a href="#" class="btn btn-warning suit-btn" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                    {{ i|upper }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
